#title {
    background-color:#383838;
    text-align: center;
    color: white;
    font-family: sans-serif;
    height: 60px;
    padding-top: 20px;
    padding-bottom: 60px;
}

#content {
    margin-top: 20px;
}

#searchCity {
    font-family: arial;
    font-size: 25px;
}

#cityName {
    font-size: 27px;
    font-family: arial;
    font-weight: bold;

}

#fiveday {
    color: white;
}

h2 {
    float: left;
}

